<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h1>Hey! I'm Krishna. Nice to meet you.</h1>
    <h2>I design and code beautifully simple things, and I love what I do.</h2>
    <p>Since beginning my journey as a UI/UX nearly 10 years, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</p>

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>